
body{
	margin: 0;
	padding: 0;
	  width: 100%;
    height: 100%;
    object-fit: cover;
	background-color: #008080;
}
footer{
	width: 100%;
	height: 100px;
	margin-top: 100px; 
	background-color: #000;
}
.head_{
	width: 100%;
	height: 100px;
	margin-top: -32px;
	background-color: #3d3d3d;
}
.h1q{
	color: #fff;
	font-family: gabriola;
	text-align: center;
	font-size: 3em;
}
h1{
	font-family: gabriola;
	font-size: 2.5em;
}
ul > li{
	margin: 3px 5px 3px 0px;
	font-family: calibri;
	font-size: 1em;

}
ul > li:hover{
	font-family: arial;
	font-size: 1em;
}
nav > ul > li , a{
	list-style: none;
	display: inline;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
nav > ul{
	display: flex;
	justify-content: center;
	border: 1px solid black;
	padding: 0;
	background-color: #000;

}
a{
	text-decoration: none;
	font-style: 2em;
}


/*.first {
	border-left: 2px solid black;
}
*/
/*.last {
	border-right: 2px solid black;
}*/
nav > ul > li:first-child{
	border-left: 2px solid black;
}
nav > ul > li:last-child{
	border-right: 2px solid black;
}

.content{
	width: 80%;
	margin: 0 auto;
	background: rgba( 255, 255, 255, 0.3);
}
p{
	text-indent: 20px;
	font-family: gergia;
	font-size: 1.5em;
	padding: 5px 10px 10px 10px;
}

img{
	padding: 0;
	margin: 5px;
}
.qw{
	width: 70%;
	padding: 0;
	margin: 0px 0px 100px 100px;
}
.q{
	padding: 0;
	margin: 0px 0px 0px 10px;
}
.w1{
	width: 399px;
	height: 268px;
	padding: 5px;
	margin-top: 10px;
	line-height: 150px;
}
.q1{
	padding: 0;
	margin: 0;
	list-style: none;
	display: box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around; 
}
video{
	width: 100%;
}

/*My setting*/
nav ul li > ul.drop-down-ul{
	position: absolute;
	font-size: 100%;
	width: 100px;
	list-style: none;
	display: none;
}
nav ul li > ul.drop-down-ul > li{
	width: 100%;
}
nav ul li > ul.drop-down-ul > li > a{
	padding: 0;
}
nav ul li:hover ul.drop-down-ul{
	display: block;
	padding: 10px;
	padding-top: 5px;
	background-color: #000;
}
#bal{
	width: 100%;
}
/*--*/